NEXT_PUBLIC_SITE_URL=https://crikket.io
NEXT_PUBLIC_SITE_URL=http://localhost:3002
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_GOOGLE_AUTH_ENABLED=true

# Posthog (optional)
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=

# Crikket Capture (optional)
NEXT_PUBLIC_CRIKKET_KEY=
